
DEV_MODE=true

# this is the API key for the document parsing
VISION_AGENT_API_KEY=<get it from https://landing.ai/agentic-document-extraction>

# this is the API key for the text-to-speech
ELEVENLABS_API_KEY=<get it from https://elevenlabs.io>

# Optional OpenAI API Key for text-to-speech
OPENAI_API_KEY=<get it from https://platform.openai.com/api-keys>



# currently the summarization class uses models hosted on AWS
AWS_ACCESS_KEY_ID=<get it from https://aws.amazon.com>
AWS_SECRET_ACCESS_KEY=<get it from https://aws.amazon.com>
AWS_REGION=<get it from https://aws.amazon.com>
